@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;  
  padding: 0;
}

:root{
    --rufous-color: #A40101;
    --viridian-color:#2CA3AB;
    --silver-color: #C4C4C4;
    --safetyorange-color: #F3610E;
    --spacecadet-color: #1D1B45;
    --black-color: #000000;
    --white-color: #ffffff;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.logo{
    padding: 30px;
    margin-right: 0px;
}

.vacunacion{
    margin: 20px;
    padding-top: 0px;
}

.telefono, .ubicacion{
    margin: 1px;
    padding: 10px;
}

 .boton1{
    margin: 5px;
    padding-top: 40px;
    padding-left: 5px;
}

.iniciar1{
    font-weight: 600;
    background: var(--spacecadet-color);
    border-radius: 20px;
    border-color: none;
    border-style: solid;
    padding: 0.1rem 1rem;
    cursor: pointer;
    color: var(--white-color);
}

.linea{
    padding-left: 380px;
    margin: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

.banner{
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 35px;
    color: var(--safetyorange-color);
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-80%, -50%);
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 40px;
    color: var(--spacecadet-color);
    position: absolute;
    top: 40%;
    left: 33%;
    transform: translate(-80%, -50%);
    font-family: 'Poppins', sans-serif;
}

.iniciar2{
    position:absolute;
    font-weight: 600;
    background: var(--spacecadet-color);
    border-radius: 20px;
    border-color: none;
    border-style: solid;
    padding: 0.1rem 1rem;
    cursor: pointer;
    margin-left: 5rem;
    color: var(--white-color);
    top: 50%;
    left: 26%;
    transform: translate(-80%, -50%);
}

.franja{
    margin: 0px;
    padding-top: 0px;
}

.compartido{
    background-image: url(..//img/4.\ covid.jpeg);
    image-resolution: gray;
    flex-basis: 70%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cuadro1{
    width: 1000px;
    height: 600px;
}

.flecha{
    width: 30px;
    height: 30px;
}

.sintomas{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

.cuadro2{
    width: 1000px;
    height: 600px;
}

.question{
    width: 30px;
    height: 30px;
}

.quehacer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.oms{
    justify-content: center;
    padding: 30px;
    padding-left: 100px;
}

h3{
    color: var(--spacecadet-color);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;  
}

.footer{
    background-color: var(--silver-color);
}

p{
    font-family: 'Poppins', sans-serif;
    color: var(--white-color);
    text-align: justify;
    font-size: 14px;
    background-color: var(--black-color);
}

h6{
    color: var(--white-color);
    text-align: center;
    font-size: 14px;
    background-color: var(--black-color);
}

@media screen and (min-width:320px){}


@media screen and (min-width:768px){


@media screen and (min-width:1200px){
    

@media screen and (min-width:1024px){}